{% extends "Base.html" %} 

{% block contenido %}

<h1 class="text-center">Artículos Educativos:</h1>

<h5>¿Cómo leer las etiquetas nutricionales?</h5>
<p>Aprender a interpretar las etiquetas nutricionales es esencial para tomar decisiones informadas sobre nuestra alimentación. 
    Estas etiquetas proporcionan información sobre el contenido de nutrientes, calorías y porciones en los alimentos empaquetados. 
    Al comprender esta información, podemos elegir productos que se alineen con nuestras necesidades dietéticas y objetivos de salud.
</p>

<h5>Beneficios de una dieta equilibrada</h5>
<p>Una dieta equilibrada es fundamental para mantener una buena salud y prevenir enfermedades. 
    Incluir una variedad de alimentos de todos los grupos alimenticios asegura que nuestro cuerpo reciba los nutrientes necesarios para funcionar correctamente. 
    Los beneficios de una dieta equilibrada incluyen un mejor control del peso, mayor energía, fortalecimiento del sistema inmunológico y reducción del riesgo de enfermedades crónicas.
</p>

<h5>Guías sobre macronutrientes y sus funciónes</h5>
<p>Los macronutrientes son los nutrientes que nuestro cuerpo necesita en grandes cantidades para obtener energía y mantener sus funciones vitales. 
    Los principales macronutrientes son los carbohidratos, las proteínas y las grasas. Cada uno de ellos desempeña un papel crucial en nuestro organismo:
    <ul>
        <li><strong>Carbohidratos:</strong> Son la principal fuente de energía para el cuerpo. Se encuentran en alimentos como cereales, frutas y verduras.</li>
        <li><strong>Proteínas:</strong> Son esenciales para la reparación y construcción de tejidos. Se encuentran en carnes, legumbres y productos lácteos.</li>
        <li><strong>Grasas:</strong> Proporcionan energía, ayudan en la absorción de vitaminas y son vitales para la salud celular. Se encuentran en aceites, nueces y aguacates.</li>
    </ul>
    Comprender la función de cada macronutriente nos ayuda a planificar una dieta equilibrada que satisfaga nuestras necesidades nutricionales.
</p>

<h5>Importancia de la hidratación</h5>
<p>La hidratación es crucial para mantener el equilibrio de líquidos en nuestro cuerpo y asegurar el correcto funcionamiento de todos los sistemas. 
    El agua desempeña un papel vital en la regulación de la temperatura corporal, el transporte de nutrientes y la eliminación de desechos. 
    La deshidratación puede llevar a problemas de salud como fatiga, dolores de cabeza y dificultades cognitivas. 
    Es importante consumir suficiente agua diariamente, especialmente durante el ejercicio o en climas cálidos.
</p>

{% endblock contenido %}