{% extends "Base.html"%}

{% block contenido %}

<body class="container-md bg-info-subtle">
    <h1 class="text-center bg-success">Calculadora de tasa metabólica basal (TMB)</h1>

    <form method="POST" action="/calculadora">
        <div class="input-group mb-3">
            <span class="input-group-text bg-danger-subtle">Peso (kg)</span>
            <input type="number" name="peso" class="form-control" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text bg-danger-subtle">Altura (cm)</span>
            <input type="number" name="altura" class="form-control" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text bg-danger-subtle">Edad</span>
            <input type="number" name="edad" class="form-control" required>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text bg-danger-subtle" for="genero">Género:</label>
            <select class="form-select" name="genero" id="genero" required>
                <option value="hombre">Hombre</option>
                <option value="mujer">Mujer</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" href="">Calcular TMB</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

{% endblock contenido %}