{% extends "Base.html" %} 

{% block contenido %}

<h1 class="text-center">Rutina de ejercicios</h1>

<h3>Rutina de 30 min para hombre</h3>

<h4>Objetivo:</h4>
<p>fuerza general, pecho/espalda/brazos, pierna y cardio corto.</p>

<h4>Calentamiento (5 min)</h4>
<ol>
    <li>1 min jumping jacks</li>
    <li>1 min sentadillas sin peso</li>
    <li>1 min rotación de hombros + brazos</li>
    <li>1 min trote ligero en el lugar</li>
    <li>1 min estiramientos dinámicos de piernas</li>
</ol>


<h4>Bloque principal (20 min)</h4>

Haz 4 rondas. Cada ejercicio 40 seg, descanso 20 seg.

Flexiones (normales o con rodillas si necesitas)

Sentadilla con salto

Remo con mochila o banda (espalda)

Zancadas alternadas (lunges)

Plancha con toque de hombro

Burpees (si quieres sufrir con dignidad 😂)

😮‍💨 Enfriamiento (5 min)

Estiramiento de pecho

Estiramiento de glúteos

Estiramiento de cuádriceps

Respiración lenta 1 min