{% extends "Base.html" %} 

{% block contenido %}

<h1 class="text-center">Rutina de ejercicios</h1>

<h5>Rutina de 30 min para hombre</h5>

<h6>Objetivo:</h6>
<p>fuerza general, pecho/espalda/brazos, pierna y cardio corto.</p>

<h6>Calentamiento (5 min)</h6>
<ul>
    <li>1 minuto de jumping jacks</li>
    <li>1 minuto de sentadillas sin peso</li>
    <li>1 minuto de rotación de hombros + brazos</li>
    <li>1 minuto de trote ligero en el lugar</li>
    <li>1 minuto de estiramientos dinámicos de piernas</li>
</ul>

<h6>Bloque principal (20 min)</h6>

<p>Haz 4 rondas. Cada ejercicio 40 seg, descanso 20 seg. </p>

<ol>
    <li>Flexiones (normales o con rodillas si necesitas)</li>
    <li>Sentadilla con salto
    <li>Remo con mochila o banda (espalda)
    <li>Zancadas alternadas (lunges)
    <li>Plancha con toque de hombro
    <li>Burpees
</ol>
<h6>Enfriamiento (5 min)</h6>

<ul>
    <li>Estiramiento de pecho</li>
    <li>Estiramiento de glúteos</li>
    <li>Estiramiento de cuádriceps</li>
    <li>Respiración lenta 1 min</li>
</ul>
<div class="my-4"></div>

<h5>Rutina de 30 min para mujer</h5>

<h6>Objetivo:</h6>
<p>glúteo, abdomen y tonificación general sin perder suavidad en la figura.</p>

<h6>Calentamiento (5 min)</h6>

<ul>
    <li>1 minuto de caminata rápida en el lugar</li>
    <li>1 minuto de círculos de cadera</li>
    <li>1 minuto de sentadilla ligera</li>
    <li>1 minuto de movilidad de cadera</li>
    <li>1 minuto de estiramientos dinámicos de brazos</li>
</ul>

<h6>Bloque principal (20 min)</h6>

<p>Haz 4 rondas. Cada ejercicio 40 seg, descanso 20 seg.</p>

<ol>
    <li>Sentadillas profundas</li>
    <li>Puente de glúteo (apretar fuerte arriba)</li>
    <li>Patada de burro</li>
    <li>Elevaciones laterales de pierna</li>
    <li>Plancha lateral (20 seg cada lado)</li>
    <li>Abdominales “toe touch”</li>
</ol>

<h6>Enfriamiento (5 min)</h6>

<ul>
    <li>Estiramiento de glúteos</li>
    <li>Estiramiento de abdomen</li>
    <li>Estiramiento de piernas</li>
    <li>Respiración lenta</li>
</ul>

{% endblock contenido %}